---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="particles-container" id="particles-js">
		<main class="roundwhite"> 
			<h1>Welcome to the Tollhouse!</h1> <p>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="500" height="500" viewBox="0 0 500 500" xml:space="preserve">
			<desc>Created with Fabric.js 5.2.4</desc>
			<defs>
			</defs>
			<rect x="0" y="0" width="100%" height="100%" fill="transparent"></rect>
			<g transform="matrix(1 0 0 1 540 540)" id="d7ff081b-7a13-44d5-a609-8cbae6a36603">
			<rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1; visibility: hidden;" vector-effect="non-scaling-stroke" x="-540" y="-540" rx="0" ry="0" width="1080" height="1080"></rect>
			</g>
			<g transform="matrix(1 0 0 1 540 540)" id="71a121c8-d4a9-45f2-b3ee-2665e2b6881a">
			</g>
			<g transform="matrix(4.95 0 0 4.9 240.9 234.01)" id="65baf4f3-db5d-499a-b579-ec7de84d5177">
			<path style="stroke: rgb(0,0,0); stroke-width: 42; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(101,101,101); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(-50, -50)" d="M 50 92.875 C 26.358 92.875 7.125 73.642 7.125 50 C 7.125 26.358000000000004 26.358 7.125 50 7.125 C 73.642 7.125 92.875 26.358 92.875 50 C 92.875 73.642 73.642 92.875 50 92.875 z M 50 9.125 C 27.461 9.125 9.125 27.461 9.125 50 C 9.125 72.538 27.461 90.875 50 90.875 C 72.538 90.875 90.875 72.538 90.875 50 C 90.875 27.461 72.538 9.125 50 9.125 z" stroke-linecap="round"></path>
			</g>
			<g transform="matrix(3.34 0 0 1.75 240.89 167.38)" id="46dece72-c44a-4d01-8817-f8bf9248d2d8">
			<polygon style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" points="-37.43,32.41 0,-32.41 37.43,32.41 "></polygon>
			</g>
			<g transform="matrix(2.39 0 0 1.88 242.06 285.67)" id="6b520ca6-25ef-4d2f-bdf1-4efbde19a70d">
			<rect style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x="-33.0835" y="-33.0835" rx="0" ry="0" width="66.167" height="66.167"></rect>
			</g>
			</svg>
			</p>      
		</main>
		</div>
		<Footer />
	</body>
</html>
